{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="4C170AB63B370E30D70955199A9A7B67" />
    <meta name="google-site-verification" content="yIimRRNvbOiOrWRj8tgN-8fp39YM636FvhdQqCcfgbY" />
    <meta name="keywords" content="lowes.syf.com/activate, activate MyLowe’s Card, MyLowe’s Rewards™, Lowe’s credit card activation, Synchrony Lowe’s card, MyLowes login, lowes syf activate" />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="Lowe’s Synchrony Services" />    
    <meta property="og:description" content="Activate your MyLowe’s Card quickly at lowes.syf.com/activate and start earning MyLowe’s Rewards™ today. Exclusive savings and easy account access." />
    <meta property="og:url" content="https://lowes.syf.com/activate" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Lowe’s Credit Card Services" />
    
    {{ super() }}
{% endblock %}
